.font {
  font-size: large;
  font-family: Domine;
}

@media (max-width: 480px) {
  .details-wrapper {
    width: 100%;
    max-width: 375px;
  }
}

@media (min-width: 481px) {
  .details-wrapper {
    width: 100%;
    max-width: 600px;
  }
}